<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:ibr="http://ibr.abia.com">
<head>
	
</head>
<body>


<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Cadastro de Contas</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/contas}">
							<i class="fa fa-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="container-fluid">
	
	
		<form method="POST" th:object="${conta}" th:action="@{/contas/nova}" class="form-vertical  js-form-loading" >
			<ibr:message/>	
			
			<div class="form-group bw-requerid" ibr:classforerror="nome">
				<label for="input-nome" class="control-label">Nome</label>
				<input id="input-nome" type="text" class="form-control" th:field="*{nome}"/>
			</div>
			<div class="row">
				<div class="form-group bw-requerid col-sm-4">
					<label for="input-numero" class="control-label">Número</label>
					<input id="input-numero" type="text" class="form-control js-numero" th:field="*{numero}"/>
				</div>
				<div class="form-group bw-requerid col-sm-4" >
					<label for="input-agencia" class="control-label">Agência</label>
					<input id="input-agencia" type="text" class="form-control js-numero" th:field="*{agencia}"/>
				</div>
				<div class="form-group bw-requerid col-sm-4" >
					<label for="input-saldo" class="control-label">Saldo</label>
					<input id="input-saldo" type="text" class="form-control js-decimal js-valor" th:field="*{saldo}"/>
				</div>
			</div>
		
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>
				
			</div>
	
		</form>
	</div>

</section>

</body>
</html>